#==============================================================================================#
#                                          BLACKLIST ALL                                       #
#==============================================================================================#
*

#==============================================================================================#
#                                          	  WHITELIST                                        #
#==============================================================================================#
!.gitignore
!*/
!*.c
!Makefile
!*.h