# -------------------- PROJECT SPECIFIC ------------------- #

pipex

# ------------------------- BUILD ------------------------- #

*.out
*.a
*.o

# ---------------------- TEST & DEBUG --------------------- #

*.test
*.dbg

# -------------------------- MISC ------------------------- #                      

*.pdf
__*