#==============================================================#
#															 #
# ⚙️   W H I T E L I S T										#
#															 #
#==============================================================#

*
!.gitignore
!.github

#==============================================================#
#															 #
# 🔨   B U I L D											#
#															 #
#==============================================================#

!Makefile

#==============================================================#
#															 #
# 📝   F I L E S												#
#															 #
#==============================================================#

!*.c
!*.h

#==============================================================#
#															 #
# 📁   F O L D E R S										#
#															 #
#==============================================================#

!*/
!/lib*/
!/maps/
!/textures/